In [1]:
import pandas as pd
df_anime = pd.read_csv('res/animes.csv')
df_anime = df_anime.drop_duplicates()
df_anime

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...
...,...,...,...,...,...,...,...,...,...,...,...,...
19002,10075,Naruto x UT,All-new animation offered throughout UNIQLO cl...,"['Action', 'Comedy', 'Super Power', 'Martial A...","Jan 1, 2011",1.0,34155,2382,1728.0,7.50,https://cdn.myanimelist.net/images/anime/3/304...,https://myanimelist.net/anime/10075/Naruto_x_UT
19003,35828,Miira no Kaikata,High school student Sora Kashiwagi is accustom...,"['Slice of Life', 'Comedy', 'Supernatural']","Jan 12, 2018 to Mar 30, 2018",12.0,61459,1648,1727.0,7.50,https://cdn.myanimelist.net/images/anime/1486/...,https://myanimelist.net/anime/35828/Miira_no_K...
19004,10378,Shinryaku!? Ika Musume,"After regaining her squid-like abilities, Ika ...","['Slice of Life', 'Comedy', 'Shounen']","Sep 27, 2011 to Dec 25, 2011",12.0,67422,1547,1548.0,7.56,https://cdn.myanimelist.net/images/anime/6/301...,https://myanimelist.net/anime/10378/Shinryaku_...
19005,33082,Kingsglaive: Final Fantasy XV,"For years, the Niflheim Empire and the kingdom...",['Action'],"Jul 9, 2016",1.0,41077,2154,1544.0,7.56,https://cdn.myanimelist.net/images/anime/12/79...,https://myanimelist.net/anime/33082/Kingsglaiv...
19006,16934,Chuunibyou demo Koi ga Shitai!: Kirameki no......,Although Yuuta Togashi and Rikka Takanashi hav...,"['Comedy', 'Drama', 'Romance', 'School', 'Slic...","Jun 19, 2013",1.0,128400,883,1533.0,7.56,https://cdn.myanimelist.net/images/anime/7/455...,https://myanimelist.net/anime/16934/Chuunibyou...

In [2]:
df_profile = pd.read_csv('res/profiles.csv')
df_profile = df_profile.drop_duplicates()
df_profile

,profile,gender,birthday,favorites_anime,link
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '2...",https://myanimelist.net/profile/DesolatePsyche
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '925...",https://myanimelist.net/profile/baekbeans
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32...",https://myanimelist.net/profile/skrn
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382...",https://myanimelist.net/profile/aManOfCulture99
...,...,...,...,...,...
77656,daniel1302,NaN,NaN,[],https://myanimelist.net/profile/daniel1302
77657,bridgesams,Male,"Jan 1, 2001","['37510', '35180', '30', '31043', '5081', '374...",https://myanimelist.net/profile/bridgesams
77659,Officer_Anime,NaN,NaN,[],https://myanimelist.net/profile/Officer_Anime
77660,Yuez,NaN,NaN,[],https://myanimelist.net/profile/Yuez
77662,srry4apologizng,NaN,NaN,[],https://myanimelist.net/profile/srry4apologizng

In [3]:
df_review = pd.read_csv('res/reviews.csv')
df_review = df_review.drop_duplicates()
df_review

,uid,profile,anime_uid,text,score,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8...",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9...",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9...",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=291149
...,...,...,...,...,...,...,...
182629,146535,iHitokage,2593,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=146535
182631,13126,Onegai,2593,\n \n \n \n ...,7,"{'Overall': '7', 'Story': '6', 'Animation': '9...",https://myanimelist.net/reviews.php?id=13126
182633,127899,Murasa22,2593,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '9', 'Animation': '...",https://myanimelist.net/reviews.php?id=127899
182636,286852,srry4apologizng,2593,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '5', 'Animation': '1...",https://myanimelist.net/reviews.php?id=286852
182637,193145,bellellis,2593,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=193145

In [4]:
profile_review = pd.merge(df_profile, df_review, on="profile")
cols = ["profile", "gender", "birthday", "favorites_anime", "anime_uid", "score", "scores"]
profile_review = profile_review[cols]
profile_review = profile_review.rename(columns={"anime_uid": "uid"})

In [5]:
df_all = pd.merge(profile_review, df_anime, on="uid")
cols = ["profile", "birthday", "gender", "favorites_anime", "uid", "title", "genre", "episodes", "popularity", "ranked", "scores", "score_x" ]
df_all = df_all[cols]
df_all = df_all.drop_duplicates()
df_all = df_all.rename(columns={"ranked": "rank", "score_x": "overall_score"})
df_all

,profile,birthday,gender,favorites_anime,uid,title,genre,episodes,popularity,rank,scores,overall_score
0,DesolatePsyche,"Oct 2, 1994",Male,"['33352', '25013', '5530', '33674', '1482', '2...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
1,Injenss,NaN,NaN,"['2001', '44', '45', '1575', '5114', '9756', '...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '7', 'Story': '7', 'Animation': '9...",7
2,kokuborou,"Aug 21, 1992",Male,"['17074', '2001', '13125', '996', '427', '1471...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '10', 'Story': '0', 'Animation': '...",10
3,TheGostoso,"Mar 15, 2000",Male,"['28977', '37991', '38524', '239', '11061', '9...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
4,PeterFromRussia,Jul 19,Male,"['9253', '2904', '30276', '1575', '34134', '22...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
...,...,...,...,...,...,...,...,...,...,...,...,...
132065,Anime_is_Life3,NaN,Female,"['754', '18195', '4181', '9989']",754,Yuki no Joou (TV),"['Adventure', 'Drama', 'Fantasy', 'Shoujo']",36.0,6923,3063.0,"{'Overall': '9', 'Story': '10', 'Animation': '...",9
132066,Funnysmily,"Nov 3, 1995",Non-Binary,"['13601', '5114', '7647']",5983,Higepiyo,['Comedy'],39.0,5702,3035.0,"{'Overall': '8', 'Story': '6', 'Animation': '4...",8
132067,Intumesce,NaN,Male,"['820', '3002', '11341', '2457', '6383']",31486,Tantei Opera Milky Holmes Movie: Gyakushuu no ...,"['Comedy', 'Mystery', 'Super Power']",1.0,6996,3020.0,"{'Overall': '8', 'Story': '5', 'Animation': '9...",8
132068,paulthetallguy,NaN,NaN,"['23847', '4181', '8769', '9253', '5081', '215...",28841,"Wake Up, Girls! Seishun no Kage","['Drama', 'Music']",1.0,4994,2982.0,"{'Overall': '9', 'Story': '9', 'Animation': '7...",9
132069,Rikudo134,"Jul 27, 2001",Male,"['14719', '26055', '31933', '37991', '33', '23...",1847,Rec: Yurusarezarumono,"['Comedy', 'Drama', 'Romance', 'Seinen']",1.0,3155,2975.0,"{'Overall': '9', 'Story': '9', 'Animation': '8...",9

In [8]:
import string
def remove_chars(s):
    for char in string.punctuation:
        if char != "-":
            s = s.replace(char, ' ')
    return s

def uidstring_to_list(s):
    l = s.split("'")
    l = [int(x) for x in l if x.isnumeric()]
    return l

def anime_list_to_genres(uids):
    genres = []
    uid_list = uidstring_to_list(uids)
    if len(uid_list) != 0:
        for uid in uid_list:
            genreString = df_anime.loc[df_anime['uid'] == int(uid),'genre']
            genreString = genreString.iloc[0]
            current_genres = genreString.split("'")
            current_genres = [x for x in current_genres if x.upper().isupper()]
            for g in current_genres:
                if g not in genres:
                    genres.append(g)
    return genres

In [12]:
df_all["favorites_anime"]=df_all["favorites_anime"].map(anime_list_to_genres)
df_all

,profile,birthday,gender,favorites_anime,uid,title,genre,episodes,popularity,rank,scores,overall_score
0,DesolatePsyche,"Oct 2, 1994",Male,33352 25013 5530 33674 1482 2...,34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
1,Injenss,NaN,NaN,2001 44 45 1575 5114 9756 ...,34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '7', 'Story': '7', 'Animation': '9...",7
2,kokuborou,"Aug 21, 1992",Male,17074 2001 13125 996 427 1471...,34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '10', 'Story': '0', 'Animation': '...",10
3,TheGostoso,"Mar 15, 2000",Male,28977 37991 38524 239 11061 9...,34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
4,PeterFromRussia,Jul 19,Male,9253 2904 30276 1575 34134 22...,34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
...,...,...,...,...,...,...,...,...,...,...,...,...
132065,Anime_is_Life3,NaN,Female,754 18195 4181 9989,754,Yuki no Joou (TV),"['Adventure', 'Drama', 'Fantasy', 'Shoujo']",36.0,6923,3063.0,"{'Overall': '9', 'Story': '10', 'Animation': '...",9
132066,Funnysmily,"Nov 3, 1995",Non-Binary,13601 5114 7647,5983,Higepiyo,['Comedy'],39.0,5702,3035.0,"{'Overall': '8', 'Story': '6', 'Animation': '4...",8
132067,Intumesce,NaN,Male,820 3002 11341 2457 6383,31486,Tantei Opera Milky Holmes Movie: Gyakushuu no ...,"['Comedy', 'Mystery', 'Super Power']",1.0,6996,3020.0,"{'Overall': '8', 'Story': '5', 'Animation': '9...",8
132068,paulthetallguy,NaN,NaN,23847 4181 8769 9253 5081 215...,28841,"Wake Up, Girls! Seishun no Kage","['Drama', 'Music']",1.0,4994,2982.0,"{'Overall': '9', 'Story': '9', 'Animation': '7...",9
132069,Rikudo134,"Jul 27, 2001",Male,14719 26055 31933 37991 33 23...,1847,Rec: Yurusarezarumono,"['Comedy', 'Drama', 'Romance', 'Seinen']",1.0,3155,2975.0,"{'Overall': '9', 'Story': '9', 'Animation': '8...",9

In [97]:
cleaned = df_all.dropna()
cleaned = cleaned.reset_index()
cleaned = cleaned.drop(columns=["index"])
cleaned

,profile,birthday,gender,favorites_anime,uid,title,genre,episodes,popularity,rank,scores,overall_score
0,DesolatePsyche,"Oct 2, 1994",Male,"['33352', '25013', '5530', '33674', '1482', '2...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
1,kokuborou,"Aug 21, 1992",Male,"['17074', '2001', '13125', '996', '427', '1471...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '10', 'Story': '0', 'Animation': '...",10
2,TheGostoso,"Mar 15, 2000",Male,"['28977', '37991', '38524', '239', '11061', '9...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
3,PeterFromRussia,Jul 19,Male,"['9253', '2904', '30276', '1575', '34134', '22...",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
4,agendator,"Apr 30, 1995",Male,"['31646', '6377', '8726', '34599']",34096,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,800,15.0,"{'Overall': '4', 'Story': '4', 'Animation': '4...",4
...,...,...,...,...,...,...,...,...,...,...,...,...
74550,Aljas,"Nov 15, 1993",Male,"['1575', '2966', '9253', '820', '12029', '2581']",15963,Seitokai no Ichizon Lv.2: Watasu Seitokai,"['Parody', 'Comedy', 'Harem', 'School']",1.0,3461,2256.0,"{'Overall': '8', 'Story': '8', 'Animation': '8...",8
74551,BlackSwordsman09,1990,Male,"['790', '339', '33', '384', '1818']",29325,Koukaku Kidoutai Arise: Alternative Architecture,"['Sci-Fi', 'Police', 'Psychological', 'Mecha']",10.0,2389,2585.0,"{'Overall': '10', 'Story': '10', 'Animation': ...",10
74552,souper_toast,"Dec 29, 1993",Male,"['2747', '1', '323', '205']",2747,Tetsuwan Atom,"['Action', 'Adventure', 'Drama', 'Mecha', 'Sci...",193.0,4769,2847.0,"{'Overall': '9', 'Story': '8', 'Animation': '1...",9
74553,Funnysmily,"Nov 3, 1995",Non-Binary,"['13601', '5114', '7647']",5983,Higepiyo,['Comedy'],39.0,5702,3035.0,"{'Overall': '8', 'Story': '6', 'Animation': '4...",8
74554,Rikudo134,"Jul 27, 2001",Male,"['14719', '26055', '31933', '37991', '33', '23...",1847,Rec: Yurusarezarumono,"['Comedy', 'Drama', 'Romance', 'Seinen']",1.0,3155,2975.0,"{'Overall': '9', 'Story': '9', 'Animation': '8...",9

In [98]:
cleaned.to_csv("res/fp2.csv")